.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container-left{
	display: flex;
	justify-content: flex-start;
}
.flex-container-right {
  display: flex;
  justify-content: flex-end;
}
.justify-content{
	display: flex;
	justify-content: space-between;
	align-items: center
}
/*FONTS*/
@font-face {
  font-family: 'Roboto-r';
  src: url(../fonts/Roboto-Regular.ttf);
  src: url(../fonts/Roboto-Regular.eot);
  src: url(../fonts/Roboto-Regular.woff);
  src: url(../fonts/Roboto-Regular.woff2); }

  @font-face {
  font-family: 'Roboto-l';
  src: url(../fonts/Roboto-Light.ttf);
  src: url(../fonts/Roboto-Light.eot);
  src: url(../fonts/Roboto-Light.woff);
  src: url(../fonts/Roboto-Light.woff2); }

  @font-face {
  font-family: 'Roboto-m';
  src: url(../fonts/Roboto-Medium.ttf);
  src: url(../fonts/Roboto-Medium.eot);
  src: url(../fonts/Roboto-Medium.woff);
  src: url(../fonts/Roboto-Medium.woff2); }
/*header*/
a{
	font-family:  'Roboto-r';
}
h1{
	font-family: 'Roboto-l';
	font-size: 40px;
}
h2{
	font-family: 'Roboto-m';
	font-size: 20px;
}
h3{
	font-family: 'Roboto-r';
	font-style: bold;
}
p{
	font-family:  'Roboto-l';
	font-size: 13px;
	font-style: bold;
}
header{
	padding: 20px 20px;
}
.logo{
	font-size: 30px;
	margin-left: 200px;
}
.nav-a{
	font-size: 14px;
}
.flex-between{
	display: flex;
	justify-content: space-between;
}

.nav-ul{
	display: flex;
	align-items: center;
}
.nav-li{
	margin-left: 30px; 
}
.homebutton{
	transition-duration: 0.4s;
	background-image: linear-gradient(#6AFCC7, #3FD2CE);
	border: none;
	border-radius: 8px;
	height: 30px;
	width: 60px;
}
.homebutton:hover {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24),0 7px 8px 0 rgba(0,0,0,0.19);
}
/* main */
a{
	color: #000000;
}
.page1{
	background-color: green;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center
}
/*Section1*/
.section1{
	width: 100%;
	height: 700px;
  background-image: linear-gradient(#6AFCC7, #3FD2CE);
  text-align: center;
}
.section1_text{
	display: inline-block;
	margin-top: 265px;
	margin-bottom: 50px;
}
.section1button{
	border-radius: 12px;
	width: 250px;
	height: 70px;
	transition-duration: 0.4s;
	background-image: linear-gradient(#FF6C54, #FF3758);
	border: none;
}
.section1button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*section2*/
.section2{
	height: 600px;
	width: 100%;
	align-items: center;
	text-align: center;
	display: flex;
	padding-left: 250px;
	padding-right: 250px;
}
.section2icons{
  width: 170px;
  height: 130px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 18px;
  }
  .section2icons:hover {
  transition: 0.6s;
  transform: scale(1.1);
  border: 0px solid rgba(134, 134, 134, 0.4); }
  .section2h2{
  	margin-bottom: 40px;
  }
.section2p{
	width: 200px;
	text-align: center;
}
.section2buttondiv{
	text-align: center;
	margin-bottom: 120px;
}
.section2button{
	border-radius: 12px;
	width: 250px;
	height: 70px;
	transition-duration: 0.4s;
	background-image: linear-gradient(#FF6C54, #FF3758);
	border: none;
}
.section2button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

/*Section*/
.section3{
	width: 100%;
	height: 720px;
  background-image: linear-gradient(#FF6455, #FF2D59);
  text-align: center;
  padding-top: 80px;
}
.section3p{
	margin bottom: 30px;
}
.section3img{
	height: 373px;
	width: 780px;
	margin-top: 200px;
}
.section3h1{
	margin-bottom: 35px;
}
/*slider*/
.slideimg{
	width: 800px;
	height: 500px;
	border-radius: 35px;
}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.slideimg{
	margin-top: 10px;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  padding-top: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



/*sliderr en */
.section3box{
	height: 570px;
	width: 100%;
	text-align: center;
	padding-top: 65PX;
	display: flex;
	align-items: center;
}
.section3phonesimg{
	float: left;
	height: 435px;
	display: flex;
	align-items: center;
	margin-left: 270px;
}
.section3boxtext{
	width: 150px;
	display: flex;
	align-items: center;
	
}
.section3boxp{
	height: 150px;
	width: 470px;
	margin-top: 28px;
	padding-left: 100px;

}
.padd{
	padding-bottom: 5px;
}
.section3boxh1{
	margin-bottom: 20px;
	padding-right: 150px;
	margin-top: 100px;
	margin-left: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
}
.conainerbotext{
	margin-bottom: 5px; 
}
.section3boxbutton{
	border-radius: 12px;
	width: 250px;
	height: 70px;
	transition-duration: 0.4s;
	background-image: linear-gradient(#FF6C54, #FF3758);
	border: none;
}
.section3boxbutton:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.section3box2{
	height: 1000px;
	width: 100%;
	text-align: center;
	padding-top: 65PX;
	padding-left: 250px;
	display: flex;
	background-image: linear-gradient(to bottom right,#93FFD5, #41D3D0);
}
.section3box2p{
	width: 870px;
}
h1{
	margin-bottom: 30px;
}
.section3nav{
	margin-top: 100px;
	margin-left: 200px;
	margin-bottom: 30px;
}
.containerbox{
	width: 250px;
	height: 250px;
	display: inline-block;
	background-color: white;
	margin-left: 15px;
}
.box2{
	margin-top: 20px;
}
.section3box2button{
	margin-top: 60px;
	background-color: none;
	border: none;
}

.section3lastbox{
	height: 340px;
	width: 100%;
	background-color: #243638;
	align-items: center;
}
.containerimg{
	width: 250px;
	height: 165px;
	margin-bottom: 20px;
}
.containerimg:hover {
  transition: 0.6s;
  transform: scale(1.1);
  border: 6px solid rgba(134, 134, 134, 0.4); }

.section3icons{
	display: inline-block;
	align-items: center;
	text-align: center;
	margin-left: 30px;
	padding-left: 120px;
	padding-top: 90px;
}
.section3iconsphoto:hover {
  transition: 0.6s;
  transform: scale(1.15);
  border: 0px solid rgba(134, 134, 134, 0.4); }
.iconstext{
	margin-top: 30px;
}
/*Section4*/
.section4{
	height: 725px;
	width: 100%;
	background-color: white;
	text-align: center;
	align-items: center;
	padding-top: 100px;
}
.jhondoe{
	background-image: linear-gradient(#6AFCC7, #3FD2CE);
	padding-top: 20px;
}
.jhonedoeimg{
	height: 180px;
	width: 230px;
}
.jhonedoeimg:hover {
  transition: 0.6s;
  transform: scale(1.1);
  border: 5px solid rgba(134, 134, 134, 0.4); }
.employe{
	display: inline-block;
	align-items: center;
	text-align: center;
	margin-top: 60px;
	margin-left: 30px;

}
.employetext{
	width: 230px;
	margin-top: 20px;
}
.jhondoeh2{
	margin-bottom: 20px;
}
/*section*/
.section5{
	height: 370px;
	width: 100%;
	text-align: center;
	align-items: center;
	padding-top: 100px;
	background-image: linear-gradient(#FE5958, #FF3B57);
}
.section5icon1{
	margin-bottom: 20px;
}
.section5icon2{
	margin-top: 20px;
}
.section5box2{
	height: 370px;
	width: 100%;
	text-align: center;
	align-items: center;
	padding-top: 150px;
	background-color: #243638;
}
.subscribebutton{
	background-color: #243638;
	border-color: #68FAC8;
	width: 170px;
	height: 50px;
}
.subscribebutton:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*section6*/
.section6{
	height: 590px;
	width: 100%;
	background-color: white;
	text-align: center;
	align-items: center;
	padding-top: 100px;
	display: inline-block;

}
.section6img{
	width: 530px;
	height: 350px;
}
.section6img:hover {
  transition: 0.6s;
  transform: scale(1.1);
  border: 8px solid rgba(134, 134, 134, 0.4); }

.section6box{
	height: 140px;
	width: 480px;
	text-align: center;
	display: inline-block;
}
.section6h1{
	margin-bottom: 100px;
}
.section6p{
	padding-bottom: 50px;
	margin-left: 50px;
}
/*Section*/
.section7{
	height: 530px;
	width: 100%;
	background-color: white;
	text-align: center;
	align-items: center;
	padding-top: 100px;
	display: inline-block;
	background-color: #66EDCD;
}
.section7box{
	height: 140px;
	width: 480px;
	text-align: center;
	display: inline-block;
	padding-bottom: 200px;
}
	

.section7h2{
	margin-top: 150px;
}
}
.section7p{
	padding-bottom: 1000px;
	margin-left: 50px;
	position: absolute;
}
.section7icon{
	margin-left: 50px;
	margin-top: 28px;
}
/*section8*/
.section8{
	height: 580px;
	width: 100%;
	text-align: center;
	align-items: center;
	padding-top: 110px;
	display: inline-block;
	background-color: white;
}
.anyastoen{
	display: inline-block;
	align-items: center;
	text-align: center;
}
.client{
	width: 370px;
	height: 220px;
	display: inline-block;
	background-image: linear-gradient(to bottom right,#93FFD5, #41D3D0);
	margin-top: 75px;
	padding-top: 40px;
	margin-left: 30px;
}
.section8h3{
	margin-top: 15px;
	margin-bottom: 20px;
}
/*contact*/
.contact{
	height: 660px;
	width: 100%;
	text-align: center;
	align-items: center;
	background-image: linear-gradient(to bottom right,#FF877D, #FF2A5D);
	padding-top: 80px;
}
.contactp{
	width: 660px;
	text-align: center;
	margin-left: 360px;
}
.form{
	margin-top: 100px;
}
.contactinput{
	height: 50px;
	width: 320px;
	background-color: #FF6772;
	margin-left: 30px;
}
.contactinput2{
	height: 50px;
	width: 673px;
	background-color: #FF6772;
	margin-left: 28px;
	margin-top: 85px;

}
.contactbutton{
	background-color: #253639;
	width: 170px;
	height: 50px;
	border: none;
	margin-top: 40px;
	margin-left: 530px;
}
.contactbutton {
  border-radius: 4px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.contactbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contactbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.contactbutton:hover span {
  padding-right: 25px;
}

.contactbutton:hover span:after {
  opacity: 1;
  right: 0;
}
/*map*/
.map{
	height: 400px;
	width: 100%
	text-align: center;
	display: flex;
	align-items: center;
}

 /*footer*/
 footer{
 	height: 110px;
 	width: 100%;
 	background-color: #243638;
 	text-align: center;
 	padding-top: 45px;
 }
